# Python
__pycache__/
*.py[cod]
*.so

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# Virtual envs
venv/
env/
ENV/
.venv/

# PyCharm/VSCode
.idea/
.vscode/

# Data and large files
/datasets/
/data_gen/*.tfrecord

# Logs
*.log
